@charset "UTF-8";
.memberCenterBanner .info .textCtn .nav-scroll-container {
  position: relative;
  width: 100%;
}
.memberCenterBanner .info .textCtn .nav-scroll-container .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  display: none;
  width: 24px;
  height: 100%;
  background-color: #aaa;
}
.memberCenterBanner .info .textCtn .nav-scroll-container .arrow::after, .memberCenterBanner .info .textCtn .nav-scroll-container .arrow::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  border-radius: 99em;
  background-color: #333;
  top: 50%;
  left: 50%;
  transform-origin: left;
  transform: translate(-50%, calc(-50% - 0.5px)) rotate(45deg);
}
.memberCenterBanner .info .textCtn .nav-scroll-container .arrow:after {
  transform: translate(-50%, calc(-50% + 0.5px)) rotate(-45deg);
}
.memberCenterBanner .info .textCtn .nav-scroll-container .arrow.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.memberCenterBanner .info .textCtn .nav-scroll-container ._left {
  left: -15px; /* 左箭头位置 */
}
.memberCenterBanner .info .textCtn .nav-scroll-container ._right {
  transform: translateY(-50%) rotate(180deg);
  right: -15px; /* 右箭头位置 */
}
.memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01 {
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  transition: scroll-left 0.3s ease; /* 添加过渡效果 */
}
.memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01.scrollable {
  /* 自定义滚动条 */
  /* 滚动条轨道 */
  /* 滚动条滑块 */
  /* 滑块在悬停时的样式 */
}
.memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01.scrollable::-webkit-scrollbar {
  width: 0px; /* 滚动条的宽度 */
  height: 0px; /* 滚动条的高度 */
}
.memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道的背景颜色 */
}
.memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01.scrollable::-webkit-scrollbar-thumb {
  background: #888; /* 滑块的颜色 */
  border-radius: 6px; /* 滑块的圆角 */
}
.memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时滑块的颜色 */
}
.memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01 .nav-item .nav-link {
  min-width: max-content;
}
@media screen and (max-width: 991px) {
  body.fixedHeader .memberCenterBanner .info .textCtn .nav-scroll-container {
    position: fixed;
    z-index: 3;
    top: 46px;
    left: 0;
    width: 100%;
    background-color: #2b2b2b;
  }
  body.fixedHeader .memberCenterBanner .info .textCtn .nav-scroll-container ._left {
    left: 0;
  }
  body.fixedHeader .memberCenterBanner .info .textCtn .nav-scroll-container ._right {
    right: 0;
  }
  body.fixedHeader .studyBox aside {
    top: 94px;
  }
  body.fixedHeader.modal-openB .studyBox aside {
    top: 46px;
  }
  .memberCenterBanner {
    z-index: 2;
  }
  .memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01 {
    gap: 16px;
  }
  .memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01 .nav-item {
    flex-basis: auto;
    flex-grow: 1;
  }
  .memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01 .nav-item .nav-link {
    font-size: 14px;
    line-height: 24px;
    padding: 12px 8px;
  }
  .memberCenterBanner .info .textCtn .nav-scroll-container .nav-tabs.type-01 .nav-item .nav-link.active:before {
    height: 4px;
  }
}
.ManageItem .detail .cardInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ManageItem .detail .cardInfo p {
  margin: 0;
  padding-right: 20px;
}
.ManageItem .detail .cardInfo a {
  color: #0787b1;
}
.ManageItem .detail .cardInfo a i {
  padding-left: 5px;
}